<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login to Save Money</h3>
            <form class="form login-form">
                <div class="form-group">
                    <input type="text" id="email-login" class="form-control" placeholder="Your Email *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="password" id="password-login" class="form-control" placeholder="Your Password *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Sign Up to Save Money</h3>
            <form class="form signup-form">
              <div class="form-group">
                <input type="text" id="name-signup" class="form-control" placeholder="Your Name *" value="" />
            </div><br>
                <div class="form-group">
                    <input type="text" id="email-signup" class="form-control" placeholder="Your Email *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="password" id="password-signup" class="form-control" placeholder="Your Password *" value="" />
                </div><br>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="./js/login.js"></script>

{{!-- Temporary commented out for reference --}}
{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}

{{!-- <script src="./js/login.js"></script> --}}
