<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="jumbotron jumbotron-fluid nav-style">
    <div class="container">
      <h1 class="display-2">Expense Tracker 7000</h1>
      <p class="lead">Start Saving Money The Smart Way!</p>
    </div>
  </div>
  <!-- Expense tracker area -->
  <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add expense
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <form  class="new-expense-form"></form>
        <div class="modal-header">
          <h5 class="modal-title col-9" id="staticBackdropLabel">Expenses</h5>
          <button type="button" class="btn-close col-1" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="col-12 my-1" type="text"id="item-name" placeholder="item-name">
          <input class="col-12 my-1" type="text"id="item-amount"placeholder="item-amount">
          <input class="col-12 my-1" type="text" id="item-date" placeholder="date">
          {{!-- <input class="datepicker" data-date-format="mm/dd/yyyy"placeholder="item-date" id="item-date"> --}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="submitBtn1">Submit</button>
        </div>
            </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        
      <canvas id="myChart" width="200" height="200"></canvas>
      </div>
      <div class="col-6">
        
  <div class="col-md-6 project-list">
    <h3>Expenses:</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
      {{#each cleaneduparray as |clean|}}
      <tr>
      <td>{{clean.name}}</td>
      <td>{{clean.amount}}</td>
      <td>{{clean.date}}</td>
      </tr>
      {{/each}}
  </tbody>
    </table>
    
</div>
      </div>
    </div>
  </div>
  <!-- Expense tracker area -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>



<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script>
    $.ajax({
        url:"/profiledata",
method:"GET"    }).then(function(data){
const names = []
const amounts =[]
for(let i=0; i<data.length; i++){
names.push(data[i].name)
amounts.push(data[i].amount)
}
    
const chartData = {
    Names:names,
    Amounts:amounts
};

let lineChart = $('#myChart').html();
let lineChartScript = Handlebars.compile(lineChart);
let linehtml = lineChartScript(chartData);
$(document.body).append(linehtml);

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
   type: 'line',
   data: {
      labels:  chartData.Names, 
      datasets: [
        {
          label: "Expense",
          fill: false,
          lineTension: 0,
          borderColor: "#0d6efd",
          data:  chartData.Amounts 
        }
      ]
   } 
});
});



</script>
<script src="./js/profile.js"></script>
